* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --text-color-black-gray: #575d5e;
    --Primary-color-black: #152427;
    --Secondary-color-light-green: #e2eddf;
    --Secondary-color-gray: #6a8383;
    --Secondary-color-blue: #83a17d;
    --text-color-light-gray: #7d8188;
}

html,
s body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    line-height: 57px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

.desc {
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
}
/* ============== HEADER =============== */
.header {
    padding-top: 28px;
}

.header_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header__right {
    display: grid;
    grid-template-columns: 1fr 173px;
    align-items: center;
    column-gap: 88px;
}

.navbar {
    display: flex;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 19px 0;
    padding-right: 38px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
    transition: color 0.3s;
}

/* .navbar__active, */
.navbar__link:hover {
    color: var(--Primary-color-black);
}

.navbar__item:last-child .navbar__link {
    padding-right: 0;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.header__line {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    margin-top: 13px;
}

.header__line:before {
    position: absolute;
    bottom: 0px;
    left: -562px;
    content: "";
    display: flex;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ============== HERO =============== */
.hero {
    padding: 60px 0 165px;
    z-index: -2;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    font-family: "Public Sans", sans-serif;
}

.hero__title {
    width: 368px;
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    width: 368px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
    margin-top: 20px;
}

.hero__cta {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero__btn {
    padding: 0px 36px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hero__icon-2 {
    animation: spin 2s infinite alternate;
    transition: transform 0.7s ease;
}

.hero__button:hover .hero__icon-2 {
    transform: rotate(360deg);
}

.hero__icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83a17d;
    margin-left: -22px;
    margin-right: 15px;
}

.hero__button {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667;
    border: none;
    background: transparent;
    padding: 0;
}

.hero__media {
    display: flex;
    justify-content: right;
    position: relative;
}

.hero__bg {
    position: absolute;
    width: 646px;
    height: 690px;
    top: -40px;
    background: rgb(77, 187, 154);
    background: radial-gradient(
        circle,
        rgba(77, 187, 154, 0.7735688025210083) 0%,
        rgba(255, 255, 255, 1) 74%
    );
    z-index: -1;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__media--wrapper {
    display: flex;
    width: 646px;
    justify-content: space-between;
}

.hero__img--center {
    position: absolute;
    bottom: -77px;
    right: 222px;
}

.hero_snow-1 {
    position: absolute;
    top: -27px;
    left: -205px;
}

.hero_snow-2 {
    position: absolute;
    bottom: -126px;
    right: 0px;
}

.hero__line-deco-1 {
    position: absolute;
    top: -28px;
    left: -159px;
    z-index: 1;
}

.hero__line-deco-2 {
    position: absolute;
    bottom: -147px;
    right: 46px;
    z-index: 1;
}

/* ============== CLIENT =============== */
.client {
    margin-top: 43px;
}

.client__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 76px 121px;
    border-radius: 999px;
    background: var(--Secondary-color-light-green);
}

.client__item {
    display: flex;
    align-items: center;
}

.client__text {
    color: var(--primary-color);
    line-height: normal;
}

.client__text-google {
    font-size: 3.1rem;
    font-weight: 500;
    margin-right: 47px;
}

.client__text-slack {
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 51px;
}

.client__text-discord {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 64px;
}

.client__text-riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
    margin-right: 63px;
}

.client__text-heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
    margin-left: 14px;
}

/* ============== SERVICES =============== */
.services {
    margin-top: 106px;
    padding-bottom: 50px;
}

.services__sub-title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}

.services__sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    margin-bottom: 11px;
    margin-right: 21px;
    background: var(--Primary-color-black);
}

.services__row {
    display: grid;
    grid-template-columns: 512px 1fr;
    align-items: end;
}

.services__title {
    width: 520px;
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.238;
    margin-top: 12px;
}

.services__title::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    margin-left: 21px;
    margin-bottom: 9px;
    background: var(--Primary-color-black);
}

.services__cpanel {
    display: flex;
    gap: 17px;
    margin-right: 73px;
    justify-content: right;
}

.services__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: var(--Secondary-color-light-green);
    cursor: pointer;
    transition: all 0.3s;
}

.services__btn:hover {
    background: var(--primary-color);
}

.services__btn:hover .services__icon-pre,
.services__btn:hover .services__icon-next {
    filter: brightness(0) invert(1);
}

.services__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services__thumb {
    width: 370px;
    max-width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services__item {
    padding-bottom: 23px;
}

.services__item:hover .services__item--info {
    transform: translateY(23px);
    transform: translateX(18px);
}

.services__item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__item--title {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 24px;
}

.services__item--desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
    width: 268px;
    max-width: 100%;
    margin-top: 18px;
}

/* ============== ABOUT =============== */
.about {
    padding: 107px 0 30px;
}

.about__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Left */
.about__left {
    position: relative;
    width: 589px;
}

.about__right {
    padding-left: 64px;
}

.about__media {
    display: flex;
    gap: 21px;
}

.about__img {
    width: 284px;
    max-width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 999px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__banner-left {
    margin-top: 77px;
}

.about__banner-right {
    margin-top: 13px;
}

.about__snow,
.about__line-deco,
.about__left--data {
    position: absolute;
}

.about__snow {
    top: -31px;
    left: 46px;
}

.about__line-deco {
    top: 14px;
    left: 86px;
}

.about__left--data {
    bottom: 8px;
    right: -9px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 19px 17px 11px;
}

.about__teams--icon,
.about__teams {
    display: flex;
    align-items: center;
}

.about__teams--icon {
    margin-left: 36px;
}

.about__teams--img {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid #fff;
    margin-left: -6px;
}

.about__left--title {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about__left--desc {
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 6px;
}

.about__left--percent {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 10px;
}

.about__progress {
    position: relative;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    margin-top: 3px;
}

.about__progress::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__loading {
    display: flex;
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
    justify-content: right;
    margin-top: 3px;
}

.about__dot {
    box-sizing: content-box;
    width: 5px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 50%;
    border: 3px solid #eaeaea;
    margin-top: 3px;
}

.about__teams {
    margin-top: 5px;
}

.about__teams--text {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem;
}

/* Right */
.about__info--sub-title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
}

.about__info--sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    margin-right: 21px;
    margin-bottom: 5px;
}

.about__info--title {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
    margin-top: 20px;
}

.about__info--desc {
    width: 478px;
    max-width: 100%;
    font-weight: 500;
    line-height: 1.625;
    margin-top: 11px;
}

.about__row {
    display: flex;
    align-items: center;
    margin-top: 37px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about__row--percent {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
    margin-right: 24px;
}

.about__row--desc {
    width: 364px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.712;
}

/* ============== PROCESS =============== */
.process {
    padding: 49px 0 28px;
}

.process__wrapper {
    padding-top: 36px;
}

.process__sub-title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
}

.process__sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    margin-right: 21px;
    margin-bottom: 5px;
}

.process__title {
    position: relative;
    width: 477px;
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
    margin-top: 20px;
}

.process__title::after {
    position: absolute;
    bottom: 18px;
    right: -26px;
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Primary-color-black);
}

.process__row--heder {
    display: flex;
    align-items: center;
}

.process__row--heder-1 {
    position: relative;
    height: 185px;
    border-radius: 33px;
    background: var(--Secondary-color-light-green);
    margin-top: 81px;
}

.process__row--img {
    position: absolute;
    bottom: 0px;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__row--num {
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    /* line-height: 7.223; */
    margin-right: 64px;
    padding-left: 30px;
}

.process__row--num-2,
.process__row--num-3 {
    margin-right: 48px;
}

.process__row--title {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__row--link {
    display: inline-block;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 22px;
    text-decoration: underline;
}

.process__row--heder.process__row--heder {
    margin-top: 46px;
}

.process__row--desc {
    width: 572px;
    margin-left: auto;
    margin-right: 41px;
}

.process__line {
    width: 1140px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
    margin-top: 21px;
}

/* ============== VIDEO =============== */
.video {
    margin-top: 120px;
    padding: 116px 0 63px;
    background: var(--primary-color);
}

.video__row {
    display: flex;
    justify-content: space-between;
}

.video__title {
    width: 457px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.238;
}

.video__title::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--Secondary-color-blue);
    margin-left: 15px;
    margin-bottom: 9px;
}

.video__col {
    margin-top: 11px;
}

.video__desc {
    width: 590px;
    color: var(--Secondary-color-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
}

.video__extend {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.video__link {
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.556;
    margin-right: 16px;
}

.video__btn {
    border: none;
    background: transparent;
    padding: 6px 10px;
    cursor: pointer;
}

.video__view {
    position: relative;
    margin-top: 65px;
}

.video__banner {
    width: 100%;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.video__icon-play,
.video__snow,
.video__line-deco {
    position: absolute;
}

.video__icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video__snow {
    top: -69px;
    right: -60px;
}

.video__line-deco {
    top: -166px;
    right: -52px;
}

/* ============== FEATURES =============== */
.features {
    margin-top: 140px;
    padding-bottom: 50px;
}

.features__header {
    width: 547px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.features__title {
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
}

.feature__header--desc {
    font-weight: 500;
    line-height: 1.625;
    margin-top: 20px;
}

.features__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin-top: 103px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    padding: 0 37px;
    transition: all 0.2s;
}

.features__item:nth-child(2) {
    margin-top: -59px;
}

.features__item:hover {
    border-radius: 160px;
    background: #fff;
    border: 1.5px solid #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
}

.features__item--title {
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 25px;
}

.features__item--desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.712;
    margin-top: 12px;
}

/* ============== BLOG =============== */
.blog {
    margin-top: 134px;
    padding-bottom: 102px;
}

.blog__sub-title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.125;
}

.blog__sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
    margin-right: 21px;
    margin-bottom: 5px;
}

.blog__row {
    display: flex;
    justify-content: space-between;
}

.blog__title {
    position: relative;
    width: 520px;
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.234;
}

.blog__title::after {
    position: absolute;
    bottom: 15px;
    right: -51px;
    display: inline-block;
    content: "";
    width: 82px;
    height: 3px;
    background: var(--Primary-color-black);
}

.blog__desc {
    width: 409px;
    font-weight: 500;
    line-height: 1.625;
    margin-left: 160px;
    margin-top: 29px;
}

.blog__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog__thumb {
    width: 360px;
    max-width: 100%;
    height: 317px;
    object-fit: cover;
    border-radius: 40px 40px 0px 0px;
}

.blog__btn {
    display: inline-block;
    width: 107px;
    line-height: 26px;
    border-radius: 20px;
    background: var(--Secondary-color-light-green);
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 26px;
}

.blog__btn:hover {
    background: var(--primary-color);
    color: var(--Secondary-color-light-green);
}

.blog__info {
    padding-right: 14px;
    padding-bottom: 12px;
    height: 243px;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.2s;
}

.blog__item {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 50px; */
}

.blog__item:hover .blog__info {
    padding: 0 30px 12px;
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog__info--title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667;
    margin-top: 13px;
}

.blog__info--line {
    height: 1px;
    flex-shrink: 0;
    background: #c4c4c4;
    margin-top: 38px;
}

.blog__info--time {
    display: flex;
    color: var(--text-color-black-gray);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 16px;
    justify-content: right;
}

/* ============== FOOTER =============== */
.footer {
    background: var(--primary-color);
    padding: 72px 0 50px;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: 411px 1fr;
}

.footer__left {
    width: 411px;
}

.footer__title {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: normal;
}

.footer__form {
    width: 354px;
    padding-bottom: 36px;
    border-bottom: 1px solid var(--Secondary-color-gray);
}

.footer__input {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    border: none;
    background: transparent;
    margin-top: 25px;
}

.footer__input::placeholder {
    color: var(--Secondary-color-gray);
}

.footer__input:focus {
    outline: none;
    color: #fff;
}

.footer__submit {
    display: inline;
    border: none;
    background: transparent;
    margin-left: 42px;
    cursor: pointer;
    padding: 2px 10px;
}

.footer__social {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-top: 47px;
}

.footer__social--link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #265252;
    transition: all 0.3s;
}

.footer__icon--inta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    width: 7px;
    height: 7px;
    border: 1px solid #fcfcfc;
    border-radius: 50%;
}

.footer__social--link:hover {
    background: #a75325;
    border: 1px solid #a75325;
}

.footer__right {
    margin-left: 261px;
}

.footer__list {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 22px;
}

.footer__item-title {
    color: #fff;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
}

.footer__ul {
    margin-top: 6px;
}

.footer__a-link {
    color: var(--Secondary-color-gray);
    font-family: "Public Sans";
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer__line {
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
    margin-top: 45px;
}
