* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --text-color-black-gray: #575d5e;
    --Primary-color-black: #152427;
    --Secondary-color-light-green: #e2eddf;
    --text-color-light-gray: #7d8188;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    line-height: 57px;
    color: #fff;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    background: var(--primary-color);
}

.desc {
    color: var(--text-color-light-gray);
    font-size: 1.6rem;
}
/* ============== HEADER =============== */
.header {
    padding-top: 28px;
}

.header_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header__right {
    display: grid;
    grid-template-columns: 1fr 173px;
    align-items: center;
    column-gap: 88px;
}

.navbar {
    display: flex;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 19px 0;
    padding-right: 38px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
    transition: color 0.3s;
}

/* .navbar__active, */
.navbar__link:hover {
    color: var(--Primary-color-black);
}

.navbar__item:last-child .navbar__link {
    padding-right: 0;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.header__line {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    margin-top: 13px;
}

.header__line:before {
    position: absolute;
    bottom: 0px;
    left: -562px;
    content: "";
    display: flex;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ============== HERO =============== */
.hero {
    padding: 60px 0 165px;
    z-index: -2;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: space-between;
}

.hero__info {
    font-family: "Public Sans", sans-serif;
}

.hero__title {
    width: 368px;
    color: var(--Primary-color-black);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    width: 368px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.556;
    margin-top: 20px;
}

.hero__cta {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 42px;
}

.hero__btn {
    padding: 0px 36px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83a17d;
    margin-left: -22px;
    margin-right: 15px;
}

.hero__button {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.667;
    border: none;
    background: transparent;
    padding: 0;
}

.hero__media {
    display: flex;
    justify-content: right;
    position: relative;
}

.hero__bg {
    position: absolute;
    width: 646px;
    height: 690px;
    top: -40px;
    background: rgb(77, 187, 154);
    background: radial-gradient(
        circle,
        rgba(77, 187, 154, 0.7735688025210083) 0%,
        rgba(255, 255, 255, 1) 74%
    );
    z-index: -1;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 999px;
}

.hero__media--wrapper {
    display: flex;
    width: 646px;
    justify-content: space-between;
}

.hero__img--center {
    position: absolute;
    bottom: -77px;
    right: 222px;
}

.hero_snow-1 {
    position: absolute;
    top: -27px;
    left: -205px;
}

.hero_snow-2 {
    position: absolute;
    bottom: -126px;
    right: 0px;
}

.hero__line-deco-1 {
    position: absolute;
    top: -28px;
    left: -159px;
    z-index: 1;
}

.hero__line-deco-2 {
    position: absolute;
    bottom: -147px;
    right: 46px;
    z-index: 1;
}

/* ============== CLIENT =============== */
.client {
    margin-top: 43px;
}

.client__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 76px 121px;
    border-radius: 999px;
    background: var(--Secondary-color-light-green);
}

.client__item {
    display: flex;
    align-items: center;
}

.client__text {
    color: var(--primary-color);
    line-height: normal;
}

.client__text-google {
    font-size: 3.1rem;
    font-weight: 500;
    margin-right: 47px;
}

.client__text-slack {
    font-size: 3.2rem;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 51px;
}

.client__text-discord {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 64px;
}

.client__text-riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
    margin-right: 63px;
}

.client__text-heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1995rem;
    margin-left: 14px;
}

/* ============== SERVICES =============== */
.services {
    margin-top: 106px;
}

.services__sub-title {
    color: var(--Primary-color-black);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625;
}

.services__sub-title::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    margin-bottom: 11px;
    margin-right: 21px;
    background: var(--Primary-color-black);
}

.services__row {
    display: grid;
    grid-template-columns: 512px 1fr;
    align-items: end;
}

.services__title {
    width: 520px;
    color: var(--Primary-color-black);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.238;
    margin-top: 12px;
}

.services__title::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    margin-left: 21px;
    margin-bottom: 9px;
    background: var(--Primary-color-black);
}

.services__cpanel {
    display: flex;
    gap: 17px;
    margin-right: 73px;
    justify-content: right;
}

.services__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: var(--Secondary-color-light-green);
    cursor: pointer;
    transition: all 0.3s;
}

.services__btn:hover {
    background: var(--primary-color);
}

.services__btn:hover .services__icon-pre,
.services__btn:hover .services__icon-next {
    filter: brightness(0) invert(1);
}

.services__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.services__thumb {
    width: 370px;
    max-width: 100%;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services__item:hover .services__item--info {
    padding: 0 18px 23px;
}

.services__item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services__item--title {
    color: var(--Primary-color-black);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 24px;
}

.services__item--desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
    width: 268px;
    max-width: 100%;
    margin-top: 18px;
}
